@import "../assets/font/stylesheet.css";


h1, h2, h3, h4, h5, h6, .main-title, .section-title {
    font-weight: 700; 
}

p, span, li, a, input, textarea {
    font-weight: 400; 
}

:root {
  --color-primary: #FFFFFF;

}

*{
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
  font-family: "Onest", sans-serif;
}

body{
  
}

body {
  font-family: "Onest", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 768px;
  padding: 0 16px;
  margin: 0 auto;
}


.header {
  background: #fff;
  padding: 20px 24px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-inner {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #2f6df6;
  font-weight: 800;
  font-size: 24px;
  padding-left: 10px;
}

.burger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 20;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 20;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}


.menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: calc(100% - 32px);
  max-width: 900px;
  background: #fff;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.45s cubic-bezier(.22,1,.36,1),
    opacity 0.3s ease;
  z-index: 30;
}

.menu.active {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: auto;
}


.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 1px solid #eee;
}

.menu-logo {
  color: #2f6df6;
  font-weight: 600;
}

.close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.menu-links {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.menu-links a {
  padding: 14px 24px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: background 0.2s;
}

.menu-links a:hover {
  background: #f5f7ff;
}

.main {
  padding-top: 60px;
  position: relative;
  display: flex;
  align-items: center;
  background: var(--color-primary);
  width: 100%;
  /*height: 82vh;*/
}

.main-title{
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: #2F73FE;
  margin-bottom: 20px;
  margin-top: 0;
  letter-spacing: 1px;
}

.main-description{
  color: #606060;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.main-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-banner-video{
 position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  display: inline-block;
}

@media (max-width: 450px) {

   .main-banner-video{
 position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  display: inline-block;
}
}

.main-banner-video video{
  display: block;
    width: 100%;
  height: 100%;
  object-fit: cover;
  
  
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 70%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.quack-section {
  position: relative;
  height: 300px;
  overflow: hidden;
  max-width: 768px;
  padding: 30px 16px;
  margin: 0 auto;
  background-color: #2F73FE;
}

.qauck-content{
    color: #FFFFFF;
  text-align: left;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0 auto;  
}
.row {
  position: absolute;
  display: flex;
  gap: 24px;
  white-space: nowrap;
}


.row-1 {
  top: 130px;
  animation: move-right-left 5s ease-in-out infinite alternate;
}


.row-2 { 
  bottom: 40px;
  animation: move-left-right 5s ease-in-out infinite alternate;
}

.card {
  background: #fff;
  color: #222;
  padding: 10px 22px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 20px 40px rgba(0,0,0,.15);
  flex-shrink: 0;
}
.card-text{
    padding-top: 10px;
}

.card-emoji{
    font-size: 25px;
}

@media (max-width: 430px){
    
    .quack-section{
    height: 360px;
}
    .row-1{
      top: 200px;  
    }
    .row-2{
      bottom: 40px;  
    }

    
@keyframes move-right-left {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(100vw - 100% - 80px));
  }
}

@keyframes move-left-right {
  from {
    transform: translateX(calc(100vw - 100% - 80px));
  }
  to {
    transform: translateX(0px);
  }
}  
}

@media (max-width: 390px) {
    
    .quack-section{
    height: 420px;
}
    .row-1{
      top: 270px;  
    }
    .row-2{
      bottom: 30px;  
    }

    
@keyframes move-right-left {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(100vw - 100% - 80px));
  }
}

@keyframes move-left-right {
  from {
    transform: translateX(calc(100vw - 100% - 80px));
  }
  to {
    transform: translateX(0px);
  }
}  
}

.info-section{
    position: relative;
    padding: 28px 0;
    background-color: #FFFFFF;
}

.info-section-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    margin: 0 auto;
}

.info-section-text{
    color: #606060;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-section-image img{
 -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    black 40%
  );
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    black 40%
  );
}

.duck-wrapper {
  position: relative;
  width: 100%;
  max-width: 360px; 
  margin: 0 auto;
  aspect-ratio: 19 / 19.5; 
}

.duck-img {
  width: 100%;
  height: 100%;
  display: block;
}

.duck-video {
  position: absolute;
  top: 23%;       
  left: 54%;
  width: 34%;
  height: 34%;

  object-fit: cover;
  border-radius: 22px; 
  pointer-events: none;
}

@media (max-width: 480px) {
  .duck-wrapper {
    max-width: 280px;
  }
}


.questions{
    position: relative;
}

.questions-container{
    
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 24px 70px;
  position: relative;
  background: #FFFFFF;
  overflow: hidden;
}

.questions-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.questions-element{ 
  width: calc(100% - 30px);
  max-width: 880px;
  background: #2F73FE1A;
  border-radius: 25px;
  padding: 10px 16px;
}

.questions-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.questions-body{
    display: flex;
    justify-content: space-between;
  display: none;
}

.questions-text{
  max-width: 95%;
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 16px 0;
}

.qustions-head-text{
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

@media (max-width: 768px) {
  .qustions-head-text {
    max-width: 300px;
  }
    .questions-text{
       max-width: 89%; 
    } 
    .container{
        padding: 0;
    }
}

.qustions-head-itm{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
 
  border-radius: 8.1px;
}

.questions-element.active .qustions-head-itm{
  
}

.qustions-head-itm-minus{
  display: none;
}


.questions-element.active .qustions-head-itm-plus{
  display: none;
}

.questions-element.active .qustions-head-itm-minus{
  display: block;
}

.qustions-head-itm svg{
  display: flex;
}

.section-title {
  color: #2F73FE;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0 auto;
}

.section-subtitle {
  color: #333333;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0 auto;
}

.support-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 24px 4px;
  position: relative;
  overflow: hidden;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 22px;
  margin-top: 14px;  
    
}

.form-group-first input{
  width: 100%;
  box-sizing: border-box;
  background: #2F73FE1A;
  color: #000000;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding: 18px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;  
}

.form-group input{
  width: 100%;
  box-sizing: border-box;
  background: #2F73FE1A;
  color: #000000;
  padding: 18px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;  
}

.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  background: #2F73FE1A;
  color: #333333;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 18px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.form-group textarea {
  height: 140px;
  resize: none;
}

.form-group-first input::placeholder,
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #3333334D;
}

.form-group button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
  padding: 17px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 15px;
  background: #3859FF;
  margin: 20px auto;
}


.container-footer{
  max-width: 768px;
  padding: 30px 16px;
  margin: 0 auto;
  background-color: #2F73FE;
}

.footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.footer {
  color: #fff;
  text-align: center;
}

.footer-logo {
  width: 110px;
  height: 110px;
  margin: 0 auto 20px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo video {
  width: 100%;
  height: auto;
  object-fit: cover;
  
  
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 70%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.footer-title {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 130px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.9;
}

.footer-links a:hover {
  opacity: 1;
  text-decoration: underline;
}

.copy-text {
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 450px){

    .footer-links{
        gap: 40px;
    }
    
    .form-group button{
        width: 70%;
    }
    .support-container{
        padding: 0px 5px 5px;
    } 
    
    .questions-container{
        padding: 20px 5px 70px;
    }
}
.container-pp{
  max-width: 768px;
  padding: 0 16px;
  margin: 0 auto;
  color: #333333;
}
.container-tos{
  max-width: 768px;
  padding: 0 16px;
  margin: 0 auto;
  color: #333333;
}
.section-title-pp,
.section-title-tos{
  color: #2F73FE;
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 15px;    
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0 auto;  
}
.ul-tos-pp li {
    position: relative;
    padding-left: 1em;
}

.ul-tos-pp li::before {
    content: "•";           
    position: absolute;
    left: 0;
    color: #333333;
    font-size: 1em;
}
